In [2]:
import regex as re

In [4]:
text = 'grey gray gruy difa robbani'

re.findall('grey', text)

['grey']

# character sets

In [5]:
text = 'grey gray gruy difa robbani'

re.findall('gr[au]y', text)

['gray', 'gruy']

# character range

In [22]:
text = 'XRA 000 dan 1AA 1AA dan 2AU 3BA'

re.findall('[A-Z0-9][A-Z][A-Z] [0-9][A-Z0-9][A-Z0-9]', text)

['XRA 000', '1AA 1AA', '2AU 3BA']

# Negative Character Sets

In [24]:
text = 'hug bug tug rug sug'

re.findall('[^b]ug', text)

['hug', 'tug', 'rug', 'sug']

In [27]:
text = 'cat cut catch cutting'
re.findall(r'\bc[au]t\b', text)

['cat', 'cut']

# soal 1

In [28]:
text = "i want to have a cat, but maybe bat is okay. i want to call her caty can you help me?"
re.findall((r'\b[cb]at\b'), text)

['cat', 'bat']

# soal 2

In [32]:
text = "I prefer to write with a pencil instead of a pen or pin."
re.findall((r'\bp[ei]n\b'), text)

['pen', 'pin']

# soal 3 (range)

In [33]:
text = '2ND 123 and XRA 789'

re.findall('[A-Z0-9][A-Z][A-Z] [0-9][0-9][0-9]', text)

['2ND 123', 'XRA 789']

In [36]:
text = 'gray grey gruy bray brey bruy'

re.findall(r'gr[ae]y|br[ae]y', text)

['gray', 'grey', 'bray', 'brey']

In [35]:
text = 'XRA TRA ZRA ARA 1RA'
re.findall(r'[^X]RA|[0-9]RA', text)

['TRA', 'ZRA', 'ARA', '1RA']

# Metacharacteristic

- \d untuk [0,9]
- \w untuk [a-zA-Z0,9]
- \s untuk spasi atau kosong
- \D untuk non digit[^0,9]
- \W untuk untuk mencari seluruh yang bukan karakter kyk "," atau spasi dsb
- \S untuk untuk mencari seluruh selain tanda spasi artau kosong

In [44]:
text = "X2A 000 dan 123 X10"
re.findall('\w\d\w\s\w\d\d', text)

['X2A 000', '123 X10']

# Quintified Repetition

In [49]:
text = "the codes are AAA1 and XYZ9."
re.findall("[A-Z]{3}\d", text)

['AAA1', 'XYZ9']

In [52]:
text = "the codes are 1CCD1 and 2DCD9."
re.findall("\d[CD]{3}\d", text)

['1CCD1', '2DCD9']

In [51]:
text = "XRA 000 123 XRA"
re.findall('\w{3}\s\w{3}', text)

['XRA 000', '123 XRA']

In [64]:
text = "the codes are AA1 and XYZ9."
re.findall(r"\b[A-Z]{2,3}\d\b", text)

['AA1', 'XYZ9']

In [66]:
text = "the codes are A1 AA1 and XYZ9 XYZABC7."
re.findall(r"\b[A-Z]{2,}\d\b", text)

['AA1', 'XYZ9', 'XYZABC7']

# repetition metacharacter

In [73]:
text = "the codes are A1 AA1 and XYZ9 XYZABC7."
re.findall(r"\b[A-Z]{1,}\d\b", text)

['A1', 'AA1', 'XYZ9', 'XYZABC7']

In [77]:
text = "the codes are 1A1 1AA1 and 1XYZ9 1XYZABC7."
re.findall(r"\b\d[A-Z]+\d\b", text)

['1A1', '1AA1', '1XYZ9', '1XYZABC7']

In [79]:
text = "kode nya adalah 12 183jhg478nh48h363j83 03jkdsdssk331"
re.findall("\d+\w+", text)

['12', '183jhg478nh48h363j83', '03jkdsdssk331']

In [81]:
text = "kode nya adalah 1234abc 1234"
re.findall("\d+\w*", text)

['1234abc', '1234']

## soal 4

In [92]:
text = "Banyak akun dalam game GTA5 seperti Quick12 Brown34 mencoba menyerang Jumped567 dan Lazy89 dengan brutal."
re.findall("[A-Z][a-z]+\d+", text)

['Quick12', 'Brown34', 'Jumped567', 'Lazy89']

# soal 5

In [103]:
text = "instagram saya adalah @fathindifa26 @fathindifa @ads123 @instagram"
re.findall("@\w+", text)

['@fathindifa26', '@fathindifa', '@ads123', '@instagram']

# soal 6

In [107]:
text = "Nomor plat: B 1234 CD, B 3876 RFE, AB 2394 AP, RI 1"
re.findall("[A-Z]+\s\d+\s*[A-Z]*", text)

['B 1234 CD', 'B 3876 RFE', 'AB 2394 AP', 'RI 1']

In [108]:
text = "+628434344"
re.findall(r"\+\d+", text)

['+628434344']

# LOOPING

In [115]:
text = "John: +1-123-456-7890 Jane: +44-123-456-7890"
re.findall("\+\d+\-\d+\-\d+\-\d+", text)

['+1-123-456-7890', '+44-123-456-7890']

In [119]:
text = "John: +1-123-456-7890 Jane: +44-123-456-7890"
re.findall(r"\+\d+(?:\-\d+){3}", text)

['+1-123-456-7890', '+44-123-456-7890']

# soal 7

In [163]:
text = "Ini adalah contoh URL: https://www.example.com dan juga https://www.example2.com"
re.findall(r"\w+\:\/+(?:\w+\.){2}\w+", text)

['https://www.example.com', 'https://www.example2.com']

# soal 8

In [160]:
text = "email saya fathindifa@purwadhika.com, fathin_difa@gmail.com, fathin26@yahoo.co.id"
re.findall('\w+\@\w+\.\w+\.*\w*', text)

['fathindifa@purwadhika.com', 'fathin_difa@gmail.com', 'fathin26@yahoo.co.id']